# Node.js
node_modules/
frontend/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Env files
.env
frontend/.env

# Hardhat specific
artifacts/
cache/
typechain/
coverage/
coverage.json
deployments/

# VSCode settings (optional)
.vscode/
*.code-workspace

# OS junk files
.DS_Store
Thumbs.db
